body{
	background:#ddd;
}

#divcanvas{
	position:relative;
}
#canvas{
	background:#fff;
	position:absolute;
}

#status{
	font-family:monospace;
	white-space:nowrap;
	position:relative;
	border:1px solid #444;
	width:600px;
	left:520px;
	height:510px;
	background:#000;
	color:#eee;
}
